<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="student.newsfeeder">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewsFeedMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EconFeed"
            android:label="@string/title_activity_econ_feed"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".TechFeed"
            android:label="@string/title_activity_tech_feed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PoliFeed"
            android:label="@string/title_activity_poli_feed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="BreakingNews"
            android:label="@string/title_activity_breaking_news"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>
</manifest>